@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #333333;
    cursor: default;
}

.txtholder {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.whatis, .interested {
    padding: 12rem 1rem;
}

p, button {
    color: #fff;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.wititle, .ititle {
    font-size: 4rem;
}

.itxt1, .itxt2, .witxt1, .witxt2, .itxt3{
    font-size: 2rem;
}

.faqref, .cntcref{
    transition: color .7s;
    color: #8F8E83;
}

.btnholder {
    margin-left: 1rem;
}

.testitbtn, .faqbtn {
    border-radius: .7rem;
    border: 0;
    cursor: pointer;
    width: 10rem;
    height: 7vh;
    transition: background-color .5s;
    background-color: #0c0c0c;
    font-size: 1.5rem;
}

.testitbtn:hover, .faqbtn:hover {
    transition: background-color .5s;
    background-color: #5c5c5c;
}

.testitbtn:active, .faqbtn:active {
    background-color: #5c5c5c;
}

.faqref:hover, .cntcref:hover {
    transition: color .7s;
    color: #ff6600;
}

@media(max-width:1035px){

    .whatis, .interested {
        padding: 6rem 1rem;
    }

    .wititle, .ititle {
        font-size: 2.7rem;
    }
    
    .itxt1, .itxt2, .witxt1, .witxt2, .itxt3{
        font-size: 1.8rem;
    }
}