:root {
    --primary:#2b2b2b;
    --secundary: #656565;
    --background: #363636;
    --white-text: rgb(255, 255, 255);
    --text: #fff;
    --hover: #ff6600;;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--primary);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    cursor: default;
    color: var(--text);
    font-size: 2rem;
    letter-spacing: .1rem;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: var(--text);
    font-size: 1.2rem;
    padding: .8rem 1rem;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: var(--hover);
    transition: all .3s;
}

.drawer {
    color: var(--text);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid .1rem var(--text);
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox {
    display: none;
}

@media(max-width:1035px){

    nav{
        justify-content: flex-start;
    }

    .drawer{
        display: block;
    }

    nav h1{
        margin-left: 1rem;
    }

    ul{
        position: fixed;
        width: 85%;
        height: 100vh;
        background-color: var(--primary);
        top: 10vh;
        left: -100%;
        text-align: left;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    nav ul li{
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
        border-bottom: solid .1rem rgba(201, 196, 196, 0.4) ;
    }

    #ckbox:checked ~ .menu-box{
        left: 0;
    }
}