@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --text: #fff;
  --bgcol: #363636;
  --secondarycol: #FF5100;
  --btncolor: #0c0c0c;
  --btnhover: #5c5c5c;
  --bgsecondcol: #202020;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bgcol);
  color: var(--text);
}

.flexcont {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-top: 2vh;
  margin-inline: .5rem;
  margin-left: 75px;
}

.info {
  flex-direction: column;
  text-align: center;
}

.infosong {
  font-size: 1.7rem;
}

.imgholder {
  display: flex;
  justify-content: center;
  margin-block: 1.2rem;
}

.imgind {
  min-width: 255px;
  max-width: 255px;
  min-height: 255px;
  max-height: 255px;
  width: 60%;
}

.buttonHolder {
  display: flex;
  justify-content: center;
}

.lyrbtn, .switchbtn, .backtotop {
  margin-inline: .5rem;
  transition: background-color .3s;
  background-color: var(--btncolor);
  color: var(--text);
  border: none;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  font-family: 'Anton', sans-serif;
  font-size: 1rem;
}

.lyrbtn:hover, .switchbtn:hover, .backtotop:hover {
  transition: background-color .3s;
  background-color: var(--btnhover);
}

.lyrbtn:active, .switchbtn:active, .backtotop:active {
  transition: background-color .2s;
  background-color: var(--secondarycol);
}

.progressholder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
}

#seekslider {
  cursor: pointer;
  width: 50%;
  -webkit-appearance: none;
  overflow: hidden;
  background-color: var(--btncolor);
  border-radius: 1rem;
}

#seekslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  box-shadow: -2000px 0 0 2000px var(--secondarycol);
  background-color: var(--secondarycol);
}

#seekslider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  box-shadow: -2000px 0 0 2000px var(--secondarycol);
  background-color: var(--secondarycol);
}

.durtxt {
  margin-inline: .5rem;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#volico {
  cursor: pointer;
  font-size: 1.5rem;
  padding-top: .35rem;
  padding-inline: .75rem;
}

.volumecnt {
  background: var(--btncolor);
  border-radius: 1rem;
  -webkit-appearance: none;
}

.volumecnt::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: var(--secondarycol);
  cursor: pointer;
}

.volumecnt::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background: var(--secondarycol);
  cursor: pointer;
}

.fa-repeat {
  font-size: 2rem;
  cursor: pointer;
  transition: color .3s;
  color: #fff;
}

.lyricholder {
  margin-block: 2rem;
  padding: .5rem;
  background-color: var(--bgsecondcol);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 40vh;
  overflow: auto;
}

.lyricholder::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 100%;
  background: var(--secondarycol);
  cursor: pointer;
}

.lyricholder::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--bgsecondcol);
  cursor: pointer;
}

.lyricholder::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--secondarycol);
  cursor: pointer;
}

.lyricholder::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background: var(--secondarycol);
  cursor: pointer;
}

.lyric {
  padding-block: .5rem;
}

.backtotop {
  margin-block: 0.5rem;
  width: auto;
}

.lyrtxt {
  padding: .5rem;
}

#loop {
  display: none;
}

#loop:checked ~ .fa-repeat {
  transition: color .3s;
  color: var(--secondarycol);
}

.imageind {
  width: 255px;
  height: 255px;
}

@media(max-width:1035px) {

  .flexcont {
    padding-top: 4vh;
  }
  
  .imgholder {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%; max-width: 15rem;
    height: 100%; max-height: 15rem;
  }

  .durtxt {
    margin-inline: 0.1rem;
  }

}
