:root {
    --text: #fff;
    --bgcol: #363636;
    --secondarycol: #FF5100;
    --btncolor: #0c0c0c;
    --btnhover: #5c5c5c;
    --bgsecondcol: #202020;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bgcol);
    color: var(--text);
}

.flexholder {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-block: 30vh;
    margin-left: 75px;
}

p {
    margin: 1rem;
    font-size: 1.5rem;
}
