/* Main Dark Theme */
/*  font-family: 'Roboto Mono', monospace;  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

/*  font-family: 'Carrois Gothic', sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');

/*  font-family: 'Imprima', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

/* Joke Theme for 01/04 & 28/12 */
/* font-family: 'Gloria Hallelujah', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
    --bgcol: #0f0e17;
    --bg2col: #141224;
    --bg3col: #1d1b2c;
    --hovercol: #ff8906;
    --titlescol: #fffffe;
    --paraphcol: #a7a9be;

    --mainfont: 'Roboto Mono', monospace;
    --secfont: 'Carrois Gothic', sans-serif;
    --tercfont: 'Imprima', sans-serif;
}

:root[joke-theme] {
    --bgcol: #37373a;
    --bg2col: #232325;
    --bg3col: #58585c;
    --hovercol: #30ff06;
    --titlescol: #fffffe;
    --paraphcol: #a7a9be;

    --mainfont: 'Gloria Hallelujah', cursive;
    --secfont: 'Gloria Hallelujah', cursive;
    --tercfont: 'Gloria Hallelujah', cursive;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin-top: 5vh;
    background-color: var(--bg2col);
}

.flexholder {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flexholder h1 {
    color: var(--hovercol);
    font-family: var(--mainfont);
    font-size: 42px;
    letter-spacing: -2px;
    margin-bottom: 10px;
}

.flexholder h2 {
    color: var(--titlescol);
    font-family: var(--mainfont);
    font-size: 30px;
}

.flexholder p {
    color: var(--paraphcol);
    font-family: var(--secfont);
    font-size: 17px;
}

.main-info {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexholder .programming{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.flexholder .programming .langs .r-1, .flexholder .programming .langs .r-2, .flexholder .benefits .benefs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.html, .css, .cordova, .electron, .node, .js {
    padding-inline: 20px;
}

.r-1 {
    padding-block: 25px;
    margin-bottom: 25px;
    border-bottom: 1px dotted #fff;
}

.benefits {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg3col);
}

.benefs {
    padding-top: 25px;
}

.ghub-code-btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 300px;
    height: 40px;
    transition: background-color .2s;
    transition: border .2s;
    background-color: var(--bgcol);
    border: 1px solid #000;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.ghub-code-btn > p {
    transition: color .2s;
    margin-left: 10px;
    color: var(--titlescol);
    font-size: 20px;
}

.ghub-code-btn:hover {
    transition: background-color .2s;
    transition: border .2s;
    background-color: var(--hovercol);
    border: 1px solid #fff;
}

.ghub-code-btn > svg g path {
    transition: all .2s;
}

.ghub-code-btn:hover > p {
    transition: color .2s;
    color: #000;
}

.ghub-code-btn:hover > svg g path {
    transition: all .2s;
    fill: #000;
}
